@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<button id="fetchCart">View Cart</button>
<div id="cartDetails"></div>
<div id="errorMessage"></div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#fetchCart').click(function () {
                $.ajax({
                    url: 'https://localhost:7195/api/v1/productOrder/cart', 
                    type: 'GET',
                    contentType: 'application/json',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (cartData) {
                        $('#cartDetails').html(JSON.stringify(cartData));
                    },
                    error: function (xhr) {
                        if (xhr.status === 404) {
                            $('#errorMessage').text('No active cart found.');
                        } else if (xhr.status === 401) {
                            $('#errorMessage').text('User is not authenticated.');
                        } else {
                            $('#errorMessage').text('Error fetching cart: ' + xhr.responseText);
                        }
                    }
                });

            });
        });
    </script>
}
