@model ecommerce_webapp_fe_cs.Models.UserRegistrationModel

<form asp-action="SignUp" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
    </div>
    <div>
        <label asp-for="PhoneNum"></label>
        <input asp-for="PhoneNum" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" />
    </div>
    <button type="submit">Sign Up</button>
</form>
